 /*
 * # BNB Theme - 1.0
 * https://github.com/Semantic-Org/Semantic-UI
 * http://www.semantic-ui.com/
 *
 * Criado em 2017  
 * Autor: Andre Oliveira;
 *
 */

 /*******************************
    Global    
*******************************/

body,
.pusher {
	background-color: #BBBBBB !important }

i.icon:hover,
.item.sidebar {
	cursor: pointer }


/*******************************
    Texts e Buttons
*******************************/

.text.grey-bold { color: #546e7a }
.text.grey { color: #90A4AE }
.text.white, .white { color: #FFF; }

.ui.card > .content > .header,
.ui.card > .content > .header:not(.ui) { color: white; font-size: 16px }
.header.middle { padding-top: 10px }
.ui.basic.buttons { border: none }
label.ui-widget { font-size: 13px }
.ui.sub.header { color: #000 !important; font-size: 11px !important }
.button.aligned.middle { margin-top: 20px }
.ui.button { font-weight: 100 !important }


/*******************************
    Header    
*******************************/

.block-header .ui.menu {
	border-radius: 0;
	background-color: #A6193C;
	height: 74px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
	border-bottom: 4px solid #F68B1F; }

.block-header .ui.menu .item {
	color: white; }

.block-header .item.sidebar:hover {
	background-color: #8e1533 }

.breadcrumb { padding-top: 15px }

/*******************************
    Cards    
*******************************/

.ui.card {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) }

.ui.card .header.title {
	padding: 8px 0 }	

.ui.card > .content:first-child {
	background-color: #A6193C;
	border-bottom: 4px solid #F68B1F }

.ui.card .meta * {
	margin-right: -2px }


/*******************************
    Input    
*******************************/

input[type="text"].ui-inputtext {
	height: 33px 
}

.ui-dropdown input[type="text"].ui-inputtext {
	height: 32px 
}

.ui-inputtext, input[type=number] {
    background: #ffffff;
    padding: 0.5em 0;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0 !important;
    font-size: 13px;
    color: #55595c;
    line-height: 1.25;
    width: 100%;
}

.ui-dropdown input.ui-inputtext {
    border-bottom: 1px solid #e0e0e0 !important;
}

.field.error input[type="text"].ui-inputtext,
.field.error textarea.ui-inputtext,
.field.error input.hasDatepicker {
    border-bottom: 1px solid #E0B4B4 }

.field.error .ui-chkbox .ui-chkbox-box,
.field.error .ui-radiobutton .ui-radiobutton-box {
	border: 1px solid #9F3A38 }

.ui-inputtext.ui-state-focus,
.ui-inputtext:focus {
    border-bottom: 1px solid #F68B1F; }

.ui-dropdown { 
	border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0 !important;
    width: 100%;
    height: 33px 
}

.field.error .ui-dropdown { 
    border-bottom: 1px solid #E0B4B4 }

.ui-dropdown.ui-state-focus { 
    border-bottom: 1px solid #F68B1F }

.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight {
    background-color: rgba(0, 0, 0, 0.075);
    color: #333 }

.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
	padding: 9px 10px }

.ui-dropdown-panel .ui-dropdown-item {
	font-size: 13px }

.ui-dropdown-panel.ui-corner-all {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0 }

.iconSelect {
	position: absolute;
    right: 1px;
    top: 12px;
	border-bottom: 12px solid #999;
	border-left: 12px solid transparent; }

.field.error .iconSelect {
	border-bottom: 12px solid #E0B4B4 }

.ui-chkbox .ui-chkbox-box.ui-state-active {
    border: 1px solid #fff;
    background-color: #fff;
    color: #F68B1F }

.ui-chkbox .ui-chkbox-icon {
    position: relative;
    top: -3px;
    left: -2px }

.checkbox label {
	padding-right: 10px }

.input-radio {
 width: 18px;
 height: 30px;  
}

.ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon.fa-circle {
	color: #F68B1F }

.ui-radiobutton-icon {
    margin-top: 3px;
    margin-left: 0px;
    display: block }

.ui-spinner-input {
	padding-right: 10px }

.ui-spinner-button {
	width: 17px;
	background-color: #c7c7c7 !important }

.ui-spinner-down,
.ui-spinner-up {
	right: -16px }

.ui-spinner-button:hover {
	background-color: #F68B1F !important }

body .ui-inputswitch {
	background-color: #e0e0e0 }

body .ui-inputswitch .ui-inputswitch-handle {
	background: -webkit-linear-gradient(white, #c7c7c7);
	border: 1px solid #c7c7c7; }

body .ui-inputswitch .ui-inputswitch-off {
	color: #666 }

body .ui-inputswitch-on.ui-state-active {
	background-color: #e0e0e0 !important;
	color: #F68B1F !important }

.ui-inputswitch .ui-inputswitch-on {
	height: 25px }


/*******************************
    Tabs    
*******************************/

.ui.tabular.menu .active.item {
	border-left: 1px solid #D4D4D5;
	border-right: 1px solid #D4D4D5;
	border-top: .2em solid #F68B1F }

.ui.secondary.pointing.menu .active.item {
	border-color: #F68B1F }

.ui.secondary.pointing.menu .active.item:hover {
	border-color: orange }


/*******************************
    Panel    
*******************************/

.ui-panel.ui-corner-all {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-panel .ui-panel-titlebar {
	background-color: #A6193C;
	color: white;
	font-weight: 400;
	padding: 20px;
	border-bottom: 4px solid #F68B1F;
	border-top-right-radius: 0;
	border-top-left-radius: 0 }

.ui-panel .ui-panel-titlebar .ui-panel-title {
	color: white;
	font-weight: 600 }


/*******************************
    Tables    
*******************************/

.ui-datatable thead th {
	text-align: left;
    font-weight: 400;
    color: #000;
    height: 45px;
    font-size: 0.9em;
    text-transform: uppercase;
    border-bottom: 2px solid #DADADA }

.ui-datatable tbody tr:hover {
    cursor: pointer;
    background-color: #f9f9d1
} 

.ui-datatable tbody td {
    color: #5e5e5e;
    font-size: 12px;
    height: 50px;
    border-bottom: 1px solid #f0f0f0 }

.ui-datatable {
	width: 100% }

.ui-datatable tbody td a.button,
.ui-datatable tbody td button.button {
	margin: 0 1px }

.ui-datatable tbody td a.button.default,
.ui-datatable tbody td button.button.default {
    background-color: white;
    padding: 6px 4px 7px 9px;
    color: #333;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12) }

.ui-datatable tbody td a.button.red,
.accordion .title a.button.red,
.tabular.menu div.button.red,
.ui-datatable tbody td button.button.red {
    background-color: #f44336;
    padding: 6px 4px 7px 9px;
    border-radius: 2px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.tabular.menu .active div.button.red {
    display: inline-block;
}

.tabular.menu div.button.red {
    display: none;
}

.ui-datatable tbody td a.button.green,
.ui-datatable tbody td button.button.green {
    background-color: #16ab39;
    padding: 6px 4px 7px 9px;
    border-radius: 2px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12) }

.ui.form .disabled.fields .field, .ui.form .disabled.field, .ui.form .field :disabled {
    opacity: 2;
    font-size: 14px }

.ui-paginator {
	text-align: left;
	margin-top: 25px }

.ui-paginator-page,
.ui-paginator-element {
	height: 40px;
	width: 40px;
	padding: 0.7em 1.1em !important;
	background-color: #e2e2e2;
	font-weight: bold;
	border-radius: 50% !important }

.ui-paginator-page a,
.ui-paginator-page,
.ui-paginator-page span,
.ui-paginator-element,
.ui-paginator-element span,
.ui-paginator-element a {
	color: #7e7e7e }

.ui-paginator-page.ui-state-active {
	background-color: #646464 }

.ui-paginator-page.ui-state-active:hover {
	background-color: #F68B1F !important }


/*******************************
    Componentes    
*******************************/

body .ui-slider .ui-slider-handle {
	background-color: #F68B1F }

body .ui-slider .ui-slider-handle:hover {
	cursor: pointer;
	background-color: orange;
	outline: none }

.ui.steps .step.active .title {
	color: #A6193C }


/*******************************
    Modals
*******************************/

.ui.basic.modal > .content,
.ui.basic.modal > .actions {
    text-align: center }

/***************************************
    Filtros para tabelas puidatable
***************************************/
.ui-column-filter{
     display: none !important;
}

/***************************************
    Loading
***************************************/
#main-loading-dimmer {
    background: rgba(0,0,0,.8); 
    width:100%; height:100%; 
    position:fixed; 
    top:0; 
    left:0; 
    z-index:99998;
}

#main-loading-dimmer .ui.loader {
    color: rgba(255, 255, 255, 0.9);
    display: block;
    z-index: 99999;
}

#main-loading-dimmer .ui.loader:before {
    border-color: rgba(255, 255, 255, 0.15);
}

#main-loading-dimmer .ui.loader:after {
    border-color: #FFFFFF transparent transparent;
}

#tabela-registro-diario td.center,
#tabela-registro-diario th.center {
    text-align: center;
}

#tabela-registro-diario .divergente td {
    color: red;
}