@model IEnumerable<BNB.ProjetoReferencia.WebUI.Helpers.Erros.ErroValidacao>
@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="fields">
            <div class="field">
                <div id="failMessage" class="requiredFields ui negative small message">
                    <i class="close icon"></i>
                    <div class="header">
                        Dados obrigatórios não informados ou preenchidos incorretamente
                    </div>
                    <ul class="list">
                        @foreach (var item in Model)
                        {
                            if (item.Erros != null) {
                                foreach (var erro in item.Erros)
                                {
                                    <li><span class="field-validation-valid text-danger" data-valmsg-for="@item.Propriedade" data-valmsg-replace="true">@erro.ToString().Replace("The value 'NaN' is not valid for", "")</span></li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <br />
    }
}

<script src="~/Scripts/Layout/closeEventMessages.js"></script>