.ui-datatable thead th
{
    cursor: pointer;
}

.ui-datatable td
{
    padding-right: 10px;
}

.bgm-wine-bnb
{
                background-color: #A6193C !important;
                color: #ffffff !important;
}

.ui .button .bgm-wine-bnb:not(.disabled):hover
{
                background-color: #90183A !important;
                color: #f7f7f7 !important;
}

.bgm-orange-bnb
{
  background-color: #F68B1F !important;
  color: #ffffff;
}
 
.ui .button .bgm-orange-bnb:not(.disabled):hover
{
                background-color: #E07F1C !important;
                color: #f7f7f7 !important;
}

.ui .button .bgm-gray:not(.disabled):hover
{
                background-color: #848484 !important;
                color: #f7f7f7 !important;
}

.ui .button .btn-default:not(.disabled):hover
{
    background-color: #EAEAEA !important;
}

.bdr_orange
{
    border-bottom: 1px solid  #F68B1F;
    line-height:1.2em;
}

#divEvidencias .ui-datatable-tablewrapper .ui-column-title {
    width: 160px;
    display: block;
}

@media (max-width: 1743px) and (min-width: 1662px) {
    #cards-status-trabalho .column h4.grande {
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 1743px) and (min-width: 1662px) {
    #cards-status-trabalho .column h4.medio.m3 {
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 1743px) and (min-width: 1573px) {
    #cards-status-trabalho .column h4.medio.m2 {
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 1743px) and (min-width: 1480px) {
    #cards-status-trabalho .column h4.medio.m1 {
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 1743px) and (min-width: 1200px) {
    #cards-status-trabalho .column h4.pequeno {
        padding: 1.5rem 1rem;
    }
}

/*@media (max-width: 1760px) and (min-width: 1481px) {
    #cards-status-trabalho .column h4.grande {
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 1481px) and (min-width: 1481px) {
    #cards-status-trabalho .column h4.medio {
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 1760px) {
    #cards-status-trabalho .column h4.pequeno {
        padding: 1.5rem 1rem;
    }
}*/

@media (max-height: 464px) {
    #PopupHistoricoDocumento {
        margin-top: 50px !important;
    }

    #conteudoHistoricoDocumento {
        max-height: 250px;
    }
}

@media (max-height: 549px) and (min-height: 465px) {
    #PopupHistoricoDocumento {
        margin-top: -180px !important;
    }

    #conteudoHistoricoDocumento {
        max-height: 300px;
    }
}

@media (max-height: 699px) and (min-height: 550px)  {
    #PopupHistoricoDocumento {
        margin-top: -230px !important;
    }

    #conteudoHistoricoDocumento {
        max-height: 400px;
    }
}

@media (max-height: 899px) and (min-height: 700px) {
    #PopupHistoricoDocumento {
        margin-top: -300px !important;
    }

    #conteudoHistoricoDocumento {
        max-height: 500px;
    }
}

@media (max-height: 1079px) and (min-height: 900px) {
    #PopupHistoricoDocumento {
        margin-top: -380px !important;
    }

    #conteudoHistoricoDocumento {
        max-height: 680px;
    }
}

@media (min-height: 1080px) {
    #PopupHistoricoDocumento {
        margin-top: -380px !important;
    }

    #conteudoHistoricoDocumento {
        max-height: 780px;
    }
}

/*.select-quesito-dropdown {
    width: 50% !important;
}*/

/*.ui-dropdown-panel .risco-processo-dropdown .ui-widget-content .ui-corner-all .ui-helper-hidden .ui-shadow {
    width: 600px !important;
}*/