
@{
    ViewBag.Title = "AcessoNegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui content">
    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="ui icon message">
                    <div class="content">                        
                        <div id="failMessage" class="requiredFields ui negative visible small message">                           
                            <div class="header">
                                <h1 class="ui-">Acesso Negado</h1>                               
                            </div>
                            <br />
                            <ul class="list">
                               Acesso não autorizado para este recurso !
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

