@{
    ViewBag.Title = "Início";    
}

<div class="ui content">
    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="ui icon message">
                    <i class="angle right icon"></i>
                    <div class="content">
                        <div class="header">
                            Sistema de Subscrição de Ações
                        </div>
                        <p>Acesse o menu de navegação clicando no ícone <i class="sidebar icon"></i>localizado na parte superior e navegue em nossas opções.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>